/* ImageRatingComponent.css */

.content-rating {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.rating-buttons {
  margin-top: 10px;
}

.like-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #62b5f8;
  color: #fff;
  transition: background-color 0.3s;
}

.dislike-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f72727;
  color: #fff;
  transition: background-color 0.3s;
}

.like-button:hover,
.dislike-button:hover {
  background-color: #2980b9;
}

#reactInfo {
  max-width: 400px;
  text-align: justify;
}

.totalrating {
  border: 1px dotted black;
  padding: 5px;
  background-color: #62b5f8;
}
.totalrating:hover{
  cursor: pointer;
  background-color: #2980b9;
  transform: scale(1.5);
}
